.container {
  padding: 96px 120px;
}
.titleContainer {
  width: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 140px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -0.04em;
  text-align: center;
  background: linear-gradient(147deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  width: 466px;
}

.accent {
  font-family: serif;
  font-style: italic;
  font-weight: 400;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #d9d9d9;
}
.sectionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: #b5b5b5;
  border: 1px solid rgba(200, 148, 255, 0.65);
  box-shadow: 0 8px 20px rgba(33, 4, 104, 0.2);
  border-radius: 8px;
  padding: 12px;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}

.sectionBtn:hover {
  box-shadow: 0px 0px 20px rgba(203, 203, 203, 0.3);
}

.accentBtn {
  color: #fff;
  pointer-events: none;
}

.arrow {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5;
  pointer-events: none;
}
