.bg {
  position: relative;
}

.bg::before {
  content: "";
  position: absolute;
  top: -90px;
  left: 0;
  width: 100%;
  height: 1100px;
  background: url("/images/Backgrounds/background-3.webp") no-repeat;
  background-size: cover;
  z-index: 0;

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0)
  );
}
