.container {
  padding: 96px 120px;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 64px;
}
.title {
  font-weight: 500;
  font-size: 20px;
}
.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: #d9d9d9;
}
