.container {
  padding: 96px 120px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
}

.title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 24px;
}

.description {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #d9d9d9;
  width: 490px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(200, 148, 255, 0.65);
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 8px 20px rgba(33, 4, 104, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  transition: 0.5s;
  width: 213px;
  margin: 0 auto;
}

.link:hover {
  box-shadow: 0px 0px 20px rgba(203, 203, 203, 0.3);
}

.linkIcon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5;
}
